<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>########v-text#########</h1>
        <p v-text="message.toUpperCase()"></p>
        <h1>#######v-once#########</h1>
        <p v-once>{{message}}</p>
        <h1>########v-on#########</h1>
        <button @click="changeMessage">Click Me!</button>
        <p>date is {{date}}</p>
        <button @click="UpdateDate">update date</button>
        <h1>#######v-for#########</h1>
        <p v-for="(l,idx) in loop">{{idx}} Number: {{l}}</p>
        <h1>#######v-if && v-model#########</h1>
        <input type="text" v-model.number="age">
        <p v-if="age<=15">print you are child</p>
        <p v-else-if="age>15 && age<=50">print you are young</p>
        <p v-else>print you are old</p>
        <h1>#######v-show#########</h1>
        <p v-show="show">print you are show</p>
        <button @click="show=!show">show or hide</button>
        <h1>#######v-html#########</h1>
        <p v-html="html"></p>
        <h1>#######v-bind#########</h1>
        <img v-bind:src="imgSrc" alt="" />
        <button @click="fixImg">fix img</button>
        <h1>#######v-model#########</h1>
        <input type="text" v-model="bind" placeholder="model" />
        <input type="text" v-bind:value="bind" placeholder="bind" />
        <p>the value is: {{bind}}</p>
        <h1>########Global Components#########</h1>
        <my-component v-for="post in posts" :name="post.name" :id="post._id" :key="post.id">
        </my-component>
        <h1>########local Components#########</h1>
        <my-item v-for="post in posts" :name="post.name" :id="post._id" :key="post.id">
        </my-item>
        <h1>########Computed Property#########</h1>
        <p>**it like a method but executed one time, on any change on the desired property</p>
        <p>**if we used normal method any re-render to the 
            page it will call the method every time</p>
        <p>{{calcAge}}</p>
        <p>{{calcAge}}</p>
        <p>{{calcAge}}</p>
        <h1>########Watch Property##########</h1>
        <label for="">JOD</label>
        <input type="text" v-model="jod">
        <label for="">Riyal</label>
        <input type="text" v-model="riyal">
        <br>
        <br>
        <br>
        <label for="">hour</label>
        <input type="text" v-model="hour">
        <label for="">minute</label>
        <input type="text" v-model="minute">
        <label for="">second</label>
        <input type="text" v-model="second">
        <h1>########Change the color##########</h1>
        <input type="color" v-model="color">
        <p :style="newColor" ref="mohammad">Hello world</p>
    </div>
    <div id="second-vue">
        <h1>########Multiple Views#########</h1>
        <p>{{message}}</p>
        <p>click button and see the first line</p>
        <button @click="changeMessage">change first vue message</button>
        <h1>########Refs##########</h1>
        <p>get the message with color from first vue</p>
        <p v-html="coloredMessage"></p>
        <button @click="getColoredMessage">Get message</button>
    </div>
    <button href="https://www.youtube.com/c/philpallen">youtube</button>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="posts.js"></script>
    <script src="app.js"></script>
</body>

</html>